* {
    margin: 0;
}

canvas {
    background-color: black;
}

.scoreUpdate {
    position: fixed;
    color: white;
    margin: 10px;
}

.window {
    position: fixed; 
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}

.gameOver{
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
}

.buttonStart {
    background-color: rgb(255, 0, 0);
    color: white;
}

.btnSelectDifficult {
    background-color: rgb(0, 255, 0);
    border: 5px solid black;
}

.btnsDifficult {
    display: flex;
    
}

.aimTrainer {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em rgb(0, 255, 13);
}